<a href="https://colab.research.google.com/github/addyj/END_Merger/blob/main/Session8/assignment2_python_samples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Write a python Program to print sum of two numbers using user input
num1=int(input("Enter first number: "))
num2=int(input("Enter second number: "))
sum=num1+num2
print("sum of two numbers :",sum)

Enter first number: 2
Enter second number: 3
sum of two numbers : 5

In [ ]:
#2.  Write a python Program to print difference between two user provided numbers
def sub(num1, num2):    
  diff = num1 - num2    
  return diff
num1=float(input("Enter first number: "))
num2=float(input("Enter second number: "))
print("difference between two numbers :",sub(num1, num2))

Enter first number: 4
Enter second number: 5.5
difference between two numbers : -1.5

In [ ]:
#3. Write a python Program to print multiplication of two numbers 
num1=1.5
num2=2.5
mul=num1*num2
print("multiplication of two numbers 1.5 and 2.5 :",mul)

multiplication of two numbers 1.5 and 2.5 : 3.75

In [ ]:
#4. Write a python function to divide two user input numbers
def div(num1, num2):    
  quotient = num1 / num2    
  return quotient
num1=float(input("Enter first number: "))
num2=float(input("Enter second number: "))
print("quotient :",div(num1, num2))

Enter first number: 3
Enter second number: 2
quotient : 1.5

In [ ]:

#5. Write a python function to find modulo of two user input numbers
def mod(num1, num2):    
  rem = num1 - num2    
  return rem
num1=float(input("Enter first number: "))
num2=float(input("Enter second number: "))
print("remainde  :",mod(num1, num2))

Enter first number: 3
Enter second number: 2
remainde  : 1.0

In [ ]:
#6. Write a python Program to print sum of two list
list1=["a","b","c","d","e"]
list2=[1,2,3]
sum_of_list=list1+list2
print("sum of two lists :",sum_of_list)

sum of two lists : ['a', 'b', 'c', 'd', 'e', 1, 2, 3]

In [ ]:
#7.Write a python Program to append two list and print the results
list1=["hii","bye","hi-fi"]
list2=["come","go","let go"]
for x in list2:
  list1.append(x)
print("list after appending :",list1)

list after appending : ['hii', 'bye', 'hi-fi', 'come', 'go', 'let go']

In [ ]:
#8. Write a python Program to print taking by taking input from users
list=[]
n=int(input("Enter number of input elements:"))
for i in range (0,n):
  element=input("Enter elemenet to list: ")
  list.append(element)
print("Final list is:",list)

Enter number of input elements:2
Enter elemenet to list: hii
Enter elemenet to list: deepi
Final list is: ['hii', 'deepi']

In [ ]:
#9. Write a python Program to print after sorting the user defined list (both in ascending and descending order)
list=[]
n=int(input("Enter number of input elements:"))
for i in range(0,n):
  element=input("Enter elemenet to list: ")
  list.append(element)
print("Final list is:",list)
list.sort()
print("Sorted list is:",list)
list.sort(reverse=True)
print("Reverse Sorted list is:",list)

Enter number of input elements:5
Enter elemenet to list: 1
Enter elemenet to list: qwe
Enter elemenet to list: raj
Enter elemenet to list: pinky
Enter elemenet to list: 9
Final list is: ['1', 'qwe', 'raj', 'pinky', '9']
Sorted list is: ['1', '9', 'pinky', 'qwe', 'raj']
Reverse Sorted list is: ['raj', 'qwe', 'pinky', '9', '1']

In [ ]:
#10. Write a python Program to print if the element in list is int or string
list = [1,2,"abc","xyz","jungle book"]
for x in list:
    if str(x) == x:
    	print(x," is string")
        
    elif int(x)==x:
      print(x,"is int")

    else:
      print("invalid")

1 is int
2 is int
abc  is string
xyz  is string
jungle book  is string

In [ ]:
#11.Write a python Program to print user input strings into list of tuples 
final_list = [] 
line = input("Enter the list of tuples:\n") 
while(line != ''): 
	final_list.append(tuple(line.split())) 
	line = input() 
 
print(final_list)

Enter the list of tuples:
hello
people
tom n jerry
dora

[('hello',), ('people',), ('tom', 'n', 'jerry'), ('dora',)]

In [ ]:
#12. Write a python Program to print the elements in tuple
tuple=("tom","jerry","doraemon","nobita")
for i in range(len(tuple)):
  print(tuple[i])

tom
jerry
doraemon
nobita

In [ ]:
#13 Write a python Program to join two tuples and print results
tup1=("abc","xyz")
tup2=("hii","hello","bye")
tup=tup1+tup2
print("tuple after joining: ",tup)

tuple after joining:  ('abc', 'xyz', 'hii', 'hello', 'bye')

In [ ]:
#14.Write a python Program to print repeating the elements inside tuple
tup=("hii","hello","bye")
newtup=tup*2
print(newtup)

('hii', 'hello', 'bye', 'hii', 'hello', 'bye')

In [ ]:
#15.Write a python Program to print elements using index variables
tup=("hii","hello","bye")

(green, yellow, red) = tup

print(green)
print(yellow)
print(red)

hii
hello
bye

In [ ]:
#16. Write a python Program to print largest number of 2  numbers
num1=int(input("Enter first number: "))
num2=int(input("Enter second number: "))
if num1>num2:
  print(num1,"is greater")
else:
  print(num2,"is greater")

Enter first number: 23
Enter second number: 12
23 is greater

In [ ]:
#17. Write a python Program to print smallest of 3 numbers
num1=int(input("Enter first number: "))
num2=int(input("Enter second number: "))
num3=int(input("Enter first number: "))
if num1<num2 and num1<num3:
  print(num1,"is smallest")
elif num2<num1 and num2<num3:
  print(num2,"is smallest")
else:
  print(num3,"is smallest")

Enter first number: 12
Enter second number: 3
Enter first number: 1
1 is smallest

In [ ]:
#18. Write a python function to print if a string is palindrome
def Palindrome(s):
  return s==s[::-1]

s=input("Enter a string: ")
if Palindrome(s):
  print(s,"is palindrome")
else:
  print(s,"is not palindrome")

Enter a string: mam
mam is palindrome

In [ ]:
#19.Write a python function to print factorial of two numbers
def factorial(n):
  if n==1 or n==0:
    return 1
  else:
    return n*factorial(n-1)
n=int(input("Enter a number:"))
print("the given number is",n,"and factorial of it is",factorial(n))

Enter number a number:5
the given number is 5 and factorial of it is 120

In [ ]:
#20. Write a python function to print simple interest 
def simpleIntrest(p,t,r):
  return (p*t*r)/100
p=int(input("Enter principle amount :"))
t=int(input("Enter time:"))
r=int(input("Enter rate of intrest:"))
print("simple intrest is: ",simpleIntrest(p,t,r))

Enter principle amount :1000
Enter time:2
Enter rate of intrest:5
simple intrest is:  100.0

In [ ]:
#21. Write a python function to print compound interest 
def compoundIntrest(p,t,r,n):
  return (p*(1+(r/n))**(n*t))
p=int(input("Enter initial principal balance :"))
t=int(input("Enter number of time periods elapsed:"))
r=int(input("Enter intrest rate:"))
n=int(input("Enter number of times interest applied per time period:"))
print("compound intrest is: ",compoundIntrest(p,t,r,n))

Enter initial principal balance :1000
Enter number of time periods elapsed:5
Enter intrest rate:4
Enter number of times interest applied per time period:3
compound intrest is:  330865724.47246265

In [ ]:
#22. Write a python function to print lcm of two numbers
def lcm(x,y):
  if x>y:
    greater=x
  else:
    greater=y
  while(True):
    if greater%x==0 and greater%y==0:
      lcm=greater
      break
    greater+=1
  return lcm 
x=int(input("Enter first number: "))
y=int(input("Enter second number: "))
print("LCM of two numbers is: ",lcm(x,y))

Enter first number: 5
Enter second number: 8
LCM of two numbers is:  40

In [ ]:
#23. Write a python function to print hcf of two numbers
def hcf(x,y):
  if x<y:
    smallest=x
  else:
    smallest=y
  for i in range(1,smallest+1):
    if x%i==0 and y%i==0:
      hcf=i
  return hcf
x=int(input("Enter first number: "))
y=int(input("Enter second number: "))
print("HCF of two numbers is: ",hcf(x,y))

Enter first number: 10
Enter second number: 5
HCF of two numbers is:  5

In [ ]:
#24. Write a python Program to print if the year is leap year
year=int(input("Enter year: "))
if(year%4)==0:
  if(year%100)==0:
    if(year%400)==0:
      print(year,"is a leap year")
    else:
      print(year,"is not a leap year")
  else:
    print(year,"is  a leap year")
else:
  print(year,"is not a leap year")

Enter year: 5
5 is not a leap year

In [ ]:
#25.Write a python Program to print areas of circle for given radius
radius=[2,3,4,5]
areas=[]
for r in radius:
  area=3.14*r*r
  areas.append(area)
print("List of areas of the given radius: ",areas)

List of areas of the given radius:  [12.56, 28.259999999999998, 50.24, 78.5]

In [ ]:
#26. Write a python Program to print areas of square for given sides
side=[]
area=[]
n=int(input("Enter number of input: "))
for i in range(1,n+1):
  s=int(input("Enter side of square: "))
  side.append(s)
print("sides:",side)
for s in side:
  a=s*s
  area.append(a)
print("areas:",area)

Enter number of input: 4
Enter side of square: 2
Enter side of square: 3
Enter side of square: 4
Enter side of square: 5
sides: [2, 3, 4, 5]
areas: [4, 9, 16, 25]

In [ ]:
#27. Write a python Program to print dictionary
dict={
    "name":"John",
    "year":1920,
    "Country":"India"
}
print(dict)

{'name': 'John', 'year': 1920, 'Country': 'India'}

In [ ]:
#28. Write a python Program to print only keys of dictionary
dict={
    "name":"John",
    "year":1920,
    "Country":"India"
}
key=dict.keys()
print(key)
dict["Experience"]="2 years"
print(key)

dict_keys(['name', 'year', 'Country'])
dict_keys(['name', 'year', 'Country', 'Experience'])

In [ ]:
#29. Write a python Program to print only values of dictionary
dict={
    "name":"John",
    "year":1920,
    "Country":"India"
}
key=dict.values()
print(key)
dict["Experience"]="2 years"
print(key)

dict_values(['John', 1920, 'India'])
dict_values(['John', 1920, 'India', '2 years'])

In [ ]:
#30. Write a python Program to print type of object
dict={
    "name":"John",
    "year":1920,
    "Country":"India"
}
print(type(dict))

In [ ]:
#31.Write a python program to print list of dictionary items
dict={
    "name":"John",
    "year":1920,
    "Country":"India",
    "role played":["developer","HR"]
}
print(dict)

{'name': 'John', 'year': 1920, 'Country': 'India', 'role played': ['developer', 'HR']}

In [ ]:
#32. Write a python program to add data to dict by user end and print
dict={}
dict['key1'] = 'hello'
dict['key2'] = 'world'
print("Dict: ", dict)

Dict:  {'key1': 'hello', 'key2': 'world'}

In [ ]:
#33.Write a python program to print after slicing a string
str="Have a great day"
print("sliced string: ",str[2:10])

sliced string:  ve a gre

In [ ]:
#34.Write a python program to print items in dict
dict={
    "name":"John",
    "year":1920,
    "Country":"India",
    "role played":["developer","HR"]
}
for x, y in dict.items():
  print(x, y)

name John
year 1920
Country India
role played ['developer', 'HR']

In [ ]:
#35.Write a python program to print length of text
text="""In literary theory, a text is any object that can be "read", whether this object is a work of literature, a street sign, an arrangement of buildings on a city block, or styles of 
clothing. It is a coherent set of signs that transmits some kind of informative message.[1] This set of signs is considered in terms of the informative message's content, rather than in 
terms of its physical form or the medium in which it is represented.

Within the field of literary criticism, "text" also refers to the original information content of a particular piece of writing; that is, the "text" of a work is that primal symbolic 
arrangement of letters as originally composed, apart from later alterations, deterioration, commentary, translations, paratext, etc. Therefore, when literary criticism is concerned with 
the determination of a "text", it is concerned with the distinguishing of the original information content from whatever has been added to or subtracted from that content as it appears in 
iven textual document (that is, a physical representation of text)."""
print("Length of text is",len(text))

Length of text is 1064

In [ ]:
#36.Write a python program to print text after splitting and reversing it
text="Hello everyone have a great day"
print("the original string:",str(text))
res=",".join(reversed(text.split(" ")))
print("reversed string:",str(res))

the original string: Hello everyone have a great day
reversed string: day,great,a,have,everyone,Hello

In [ ]:
#37. Write a python program to print number of words in string
text="Hello everyone have a great day"
print("the original string:",str(text))
res=(len(text.split(" ")))
print("length of string is",res)

the original string: Hello everyone have a great day
length of string is 6

In [ ]:
#38. Write a python program to print number of letters
text="Hello everyone have a great day"
print("length of text is:",len(text))

length of text is: 31

In [ ]:
#39. Write a python program to print after converting list to tuple
weekdays = ['sun','mon','tue','wed','thu','fri','sat']
listAsTuple = tuple(weekdays)
print(listAsTuple)

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat')

In [ ]:
#40.Write a python program to print occurance of particular element in list
weekdays = ['sun','mon','tue','wed','thu','fri','sun','mon','mon']
print([[x,weekdays.count(x)]for x in weekdays])

[['sun', 2], ['mon', 3], ['tue', 1], ['wed', 1], ['thu', 1], ['fri', 1], ['sun', 2], ['mon', 3], ['mon', 3]]

In [ ]:
#41. Write a python program to print each list item only once
weekdays = ['sun','mon','tue','wed','thu','fri','sun','mon','mon']
print([[x,weekdays.count(x)]for x in set(weekdays)])

[['sun', 2], ['wed', 1], ['thu', 1], ['fri', 1], ['tue', 1], ['mon', 3]]

In [ ]:
#42. Write a python program to print sum there is a matching string
weekdays = ['sun','mon','tue','wed','thu','fri','sun','mon','mon']
week=weekdays
weeks=weekdays[:]
week[0]="mon"
week[1]="tue"
sum=0
for day in (weekdays,week,weeks):
  if day[0]=="mon":
    sum+=1
  if day[1]=="tue":
    sum+=1
print("Final sum=",sum)

Final sum= 4

In [ ]:
#43. Write a python program to print average of all numbers in list
n=int(input("Enter the number of elements to be inserted: "))
a=[]
sum=0
for i in range(0,n):
  elem=int(input("Enter element: "))
  a.append(elem)
  sum=(sum+elem)
avg=sum/n
print("Average of elements in the list",avg)

Enter the number of elements to be inserted: 3
Enter element: 1
Enter element: 1
Enter element: 1
Average of elements in the list 1.0

In [ ]:
#44. Write a python program to print after reversing a number
n=int(input("Enter the number to reverse: "))
rev=0
while n>0:
  dig=n%10
  rev=rev*10+dig
  n=n//10
print("rev digit=",rev)

Enter the number to reverse: 532
rev digit= 235

In [ ]:
#45. Write a python program to print sum of all the digits in number
n=int(input("Enter the number to add: "))
sum=0
while n>0:
  dig=n%10
  sum=sum+dig
  n=n//10
print("sum of digit in a number=",sum)

Enter the number to add: 12
sum of digit in a number= 3

In [ ]:
#46. Write a python program to print if a number is palindrome
n=int(input("Enter the number to check if it is palindrome: "))
num=n
rev=0
while n>0:
  dig=n%10
  rev=rev*10+dig
  n=n//10

if(rev==num):
  print(num,"is palindrome")
if(rev!=num):
  print(num,"is not palindrome")

Enter the number to check if it is palindrome: 12334455443321
12334455443321 is palindrome

In [ ]:
#47 Write a python program to print number of digits in a number
n=int(input("Enter the number : "))
count=0
while n>0:
  count=count+1
  n=n//10
print("number of digits in a num=",count)

Enter the number : 12
number of digits in a num= 2

In [ ]:
#48. Write a python program to print tables of any number
n=int(input("Enter the number : "))
for i in range (1,11):
  print(n,"x",i,"=",n*i)

Enter the number : 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
#49. Write a python program to print if the number is prime
n=int(input("Enter the number : "))
k=0
for i in range(2,(n//2)+1):
  if n%i==0:
    k=k+1
if n==0 or n==1:
  print(n,"is not a prime number")
elif k==0:
  print(n,"is prime number")
else:
  print(n,"is not a prime number")

Enter the number : 1
1 is not a prime number

In [ ]:
#50. Write a python program to print to swap first and last elements of list
list=[]
n=int(input("Enter number of input: "))
for i in range(1,n+1):
  s=int(input("Enter a number: "))
  list.append(s)
print("element in list are:",list)
temp=list[0]
list[0]=list[n-1]
list[n-1]=temp
print("element in list after swapping 1st and last numb are:",list)

Enter number of input: 5
Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
element in list are: [1, 2, 3, 4, 5]
element in list after swapping 1st and last numb are: [5, 2, 3, 4, 1]

In [ ]:
#51. to count number of vowels in string
string=input("Enter string:")
vowels=0
string.lower()
for i in string:
  if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
    vowels+=1
print("number of vowels=",vowels)

Enter string:hello world
number of vowels= 3

In [ ]:
#52. to compare two strings
string1=input("Enter first string:")
string2=input("Enter second string:")
string=(set(string1)&set(string2))
print("common characters are:")
for i in string:
  print(i)

Enter first string:hey
Enter second string:yey
common characters are:
y
e

In [ ]:
#53. sorting elements in list using selection sort
list=[]


n=int(input("Enter number of input: "))
for i in range(1,n+1):
  s=int(input("Enter a number: "))
  list.append(s)
print("element in list are:",list)

for i in range(len(list)):
  sm_index=i
  for j in range(i+1,len(list)):
    if list[sm_index]<list[j]:
      sm_index=j
  list[i],list[sm_index]=list[sm_index],list[i]
print("sorted array:")
for i in range(len(list)):
  print(list[i])

Enter number of input: 5
Enter a number: 1
Enter a number: 7
Enter a number: 3
Enter a number: 5
Enter a number: 2
element in list are: [1, 7, 3, 5, 2]
sorted array:
7
5
3
2
1

In [ ]:
#54. replacing numbers with strings based on some condition
list=[]
n=int(input("Enter number of input: "))
for i in range(1,n+1):
  s=int(input("Enter a number: "))
  list.append(s)
print("element in list are:",list)
for i in range(len(list)):
  if list[i]%5==0:
    list[i]="perfect"
  elif list[i]%3==0 and list[i]%6==0:
    list[i]="ok"
  

print("element in list after replacing are:",list)

Enter number of input: 6
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: 6
Enter a number: 7
element in list are: [2, 3, 4, 5, 6, 7]
element in list after replacing are: [2, 3, 4, 'perfect', 'ok', 7]

In [ ]:
#55. changing index number in list using enumerate
list=[]
n=int(input("Enter number of input: "))
for i in range(1,n+1):
  s=int(input("Enter a number: "))
  list.append(s)
print("element in list are:",list)
for i,num in enumerate(list, start=52):
  print(i,num)

Enter number of input: 5
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: 6
element in list are: [2, 3, 4, 5, 6]
52 2
53 3
54 4
55 5
56 6

In [ ]:
#56. check if the number in list is odd or even
list=[2,3,4,5,6,7,8]
for i in list:
  if i%2==0:
    print(i,"is even")
  else:
    print(i,"is odd")

2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even

In [ ]:
#57. linear search
list=[]
n=int(input("enter number of elements:"))
for i in range(0,n):
  a=int(input("enter a number:"))
  list.append(a)
k=int(input("enter key:"))
for i in range(len(list)):
  if list[i]==k:
    print(k,"fount at",i,"position")
    break;
  else:
    print(k,"not found")

enter number of elements:4
enter a number:2
enter a number:4
enter a number:22
enter a number:5
enter key:22
22 not found
22 not found
22 fount at 2 position

In [ ]:
#58. Desimal to binary
def DecimalToBinary(num):
  if num>1:
    DecimalToBinary(num//2)
  print(num%2,end="")
number = int(input("Enter any decimal number: "))
DecimalToBinary(number)

Enter any decimal number: 2
10

In [ ]:
#59. Adding two binary number
num1='00001'
num2='11111'
sum = bin(int(num1,2) + int(num2,2))
print(sum)

0b100000

In [ ]:
#60. program to check if number is positive negative or zero
number = int(input("Enter number: "))
if number < 0: 
  print("The entered number is negative.") 
elif number > 0:
  print("The entered number is positive.")
elif number == 0:
  print("Number is zero.")
else:
  print("The input is not a number")

Enter number: 545
The entered number is positive.

In [ ]:
#61. Adding two matrices
M1 = [[1, 1, 1],
      [1, 1, 1],
      [1, 1, 1]]
M2 = [[1, 2, 3],
      [4, 5, 6],
      [7, 8, 9]]

sum = [[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]]

for i in range(len(M1)):
    for j in range(len(M1[0])):
        sum[i][j] = M1[i][j] + M2[i][j]


for num in sum:
    print(num)

[2, 3, 4]
[5, 6, 7]
[8, 9, 10]

In [ ]:
#62. To check if the number is alphabets
ch = input("Enter a character: ")
if((ch>='a' and ch<= 'z') or (ch>='A' and ch<='Z')):
    print(ch, "is an Alphabet")
else:
    print(ch, "is not an Alphabet")

Enter a character: 444
444 is not an Alphabet

In [ ]:
#63. swapping two elements without using temp variable
a=int(input("enter first number:"))
b=int(input("enter second number:"))
a=a+b
b=a-b
a=a-b
print("Elements after swapping: a=",a,"b=",b)

enter first number:6
enter second number:009
Elements after swapping: a= 9 b= 6

In [ ]:
#64. taking 5 subjects marks and displaying the grade
sub1=int(input("Enter marks of the first subject for 100: "))
sub2=int(input("Enter marks of the second subject for 100: "))
sub3=int(input("Enter marks of the third subject for 100: "))
sub4=int(input("Enter marks of the fourth subject for 100: "))
sub5=int(input("Enter marks of the fifth subject for 100: "))
avg=int((sub1+sub2+sub3+sub4+sub4)/5)
if(avg>=90):
    print("Grade: A")
elif(avg>=80&avg<90):
    print("Grade: B")
elif(avg>=70&avg<80):
    print("Grade: C")
elif(avg>=60&avg<70):
    print("Grade: D")
else:
    print("Grade: F")

Enter marks of the first subject for 100: 45
Enter marks of the second subject for 100: 88
Enter marks of the third subject for 100: 92
Enter marks of the fourth subject for 100: 66
Enter marks of the fifth subject for 100: 89
Grade: B

In [ ]:
#65. Count and printing all the odd numbers wihin the given range
lower=int(input("Enter the lower limit for the range:"))
upper=int(input("Enter the upper limit for the range:"))
count=0
for i in range(lower,upper+1):
  if i%2!=0:
    count+=1
    print(i)
print("number of odd numbers in range are:",count)

Enter the lower limit for the range:4
Enter the upper limit for the range:100
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
number of odd numbers in range are: 48

In [ ]:
#66.counting and printing all the numbers which are not divisible by 3 in given range
lower=int(input("Enter the lower limit for the range:"))
upper=int(input("Enter the upper limit for the range:"))
count=0
for i in range(lower,upper+1):
  if i%2!=0 or i%3!=0:
    count+=1
    print(i)
print("numbers in range which are not divisible by 2 or 3 are:",count)

Enter the lower limit for the range:5
Enter the upper limit for the range:10
5
7
8
9
10
numbers in range which are not divisible by 2 and 3 both  are: 5

In [ ]:
#67. printing stars in inverted star pattern
n=int(input("Enter number of rows: "))
for i in range (n,0,-1):
    print((n-i) * ' ' + i * '*')

Enter number of rows: 5
*****
 ****
  ***
   **
    *

In [ ]:
#68. natural number summation pattern
n=int(input("Enter a number: "))
for j in range(1,n+1):
    a=[]
    for i in range(1,j+1):
        print(i,sep=" ",end=" ")
        if(i<j):
            print("+",sep=" ",end=" ")
        a.append(i)
    print("=",sum(a))
 
print()

Enter a number: 4
1 = 1
1 + 2 = 3
1 + 2 + 3 = 6
1 + 2 + 3 + 4 = 10

In [ ]:
#69. Combining all elements in list as string
list = ['Can', 'I', 'go']
print(type(list))
 
str = ''.join(list)
print(type(str))
print(str)

<class 'list'>
<class 'str'>
CanIgo

In [ ]:
#70. to check if the string with starts with particular word
str="Hello people."
str1="Hello Karan, hope you are doing well."
str2="Great!"
result = str.startswith("Hello")
result1 = str1.startswith("Hello")
result2 = str2.startswith("Hello")
print(result)
print(result1)
print(result2)

True
True
False

In [ ]:
#71. Combining 2 strings by taking alternate characters
str1 = "Great"
str2 = "Day"
comb = "".join(i + j for i, j in zip(str1, str2))
print("Combined String:", comb)

Combined String: GDraey

In [ ]:
#72. To find max in list
def max_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max
print(max_list([2,11,22,55]))

55

In [ ]:
#73. Sorting elements in a list in increasing order w.r.t last element of tuple
def end(n): 
  return n[-1]

def sort_list(tuples):
  return sorted(tuples, key=end)

print(sort_list([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
#74. program to check if a person is eligible for voting

age = int(input("Enter Age : "))
if age>=18:
        status="Eligible"
else:
    status="Not Eligible"

print("Age is",age,"so you are",status," for Vote.")

Enter Age : 56
Age is 56 so you are Eligible  for Vote.

In [ ]:
#75. Finding discount
amount = int(input("Enter selling price: "))

if(amount>0):
    if amount<=500:
       disc = amount*0.05
    elif amount<=1000:
        disc=amount*0.1
    elif amount<=2000:
        disc=0.2 * amount
    else:
         disc=0.3 * amount

    print("Discount : ",disc)
    print("Net Pay  : ",amount-disc)
else:
    print("Invalid Amount")

Enter selling price: 1600
Discount :  320.0
Net Pay  :  1280.0

In [ ]:
#76. Tower of hanoi
def hanoi(x):
    if x == 1:
        return 1
    else:
        return 2*hanoi(x-1) + 1
x = int(input("enter num of disk: "))
print('number of steps: ', hanoi(x))

enter num of disk: 3
number of steps:  7

In [ ]:
#77. Converting centimeters to inches
num = float(input("Enter the distance measured in centimeter : "))
""" 1 inch = 2.54 centimeters"""
inc = num/2.54 
print("Distance in inch : ", inc)

Enter the distance measured in centimeter : 4
Distance in inch :  1.574803149606299

In [ ]:
#78. converting to capital letters without using functions
st = input('Type a string: ')
out = ''
for n in st:
    if n not in 'abcdefghijklmnopqrstuvwqxyz':
        out = out + n
    else:
        k = ord(n)
        l = k - 32
        out = out + chr(l)
print('capital letters', out)

Type a string: hii
capital letters HII

In [ ]:
#79. converting string to list

str = str (input ("Enter comma separated integers: "))
print ("Input string: ", str)
list = str.split (",")
print ("list: ", list)
li = []
for i in list:
	li.append(int(i))
print ("list (li) : ", li)

Enter comma separated integers: 2,10,8,2879,88
Input string:  2,10,8,2879,88
list:  ['2', '10', '8', '2879', '88']
list (li) :  [2, 10, 8, 2879, 88]

In [ ]:
#80. Finding square and cube of the given number
def square (num):
	return  (num*num)
def cube (num) :
	return  (num*num*num) 

number = int (input("Enter an integer number: "))
print ("square of {0} is {1}".format(number, square(number)))
print ("Cube of {0} is {1}".format(number, cube (number)))

Enter an integer number: 3
square of 3 is 9
Cube of 3 is 27

In [ ]:
#81. Write a Program to BMI calculator
height = float(input("Enter height in meters: "))
weight = float(input("Enter weight in kg: "))
bmi = weight/(height**2) 
print("Your BMI is: {0} and you are: ".format(bmi), end='')
if ( bmi < 16):
   print("severely underweight")

elif ( bmi >= 16 and bmi < 18.5):
   print("underweight")

elif ( bmi >= 18.5 and bmi < 25):
   print("Healthy")

elif ( bmi >= 25 and bmi < 30):
   print("overweight")

elif ( bmi >=30):
   print("severely overweight")

Enter height in meters: 1.7
Enter weight in kg: 55
Your BMI is: 19.031141868512112 and you are: Healthy

In [ ]:
#82.Write a Program to find ASCII value of a character
char_var = 'A'
print("ASCII value of " + char_var + " is = ", ord(char_var))
char_var = 'x'
print("ASCII value of " + char_var + " is = ", ord(char_var))
char_var = '9'
print("ASCII value of " + char_var + " is = ", ord(char_var))

ASCII value of A is =  65
ASCII value of x is =  120
ASCII value of 9 is =  57

In [ ]:
#83.